<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Template/CSS_COMIDA/STYLE-SEMANA.css">  
    <title>Receta Lunes</title>
</head>
<body>
    <a href="INDEX_CENA.html" class="Boton-inicio">Inicio</a>

    <div class="color-texto">
        
        <div class="aleneacion">
            <img src="/Template/IMG3/Ensalada-atun-aguacate.jpeg" class="imagen-comida">
            <h3 class="texto-card">Martes: Ensalada de atún y aguacate</h3>
        </div>

        <p class="texto-de-ingredientes">Ingredientes: lechuga, tomate, atún, aguacate, cebolla, aceite de oliva y limón.</p>
        <br>
        <h3 class="texto-preparacion">Preparación:</h3>
        
        <blockquote class="texto-de-preparacion">
            Lava y corta la lechuga y el tomate en trozos medianos.<br><br> Añade el
            atún escurrido y el aguacate cortado en cubos junto con un poco de
            cebolla.<br><br> Aliña la ensalada con aceite de oliva y unas gotas de limón
            antes de mezclar todo bien.
        </blockquote>
    </div>

</body>
</html>