<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Template/CSS_COMIDA/STYLE-SEMANA.css">  
    <title>Receta Lunes</title>
</head>
<body>
    <a href="INDEX_CENA.html" class="Boton-inicio">Inicio</a>

    <div class="color-texto">
        
        <div class="aleneacion">
            <img src="/Template/IMG3/Pavo-verduras-salteadas.jpeg" class="imagen-comida">
            <h3 class="texto-card">Viernes: Pavo con verduras salteadas</h3>
        </div>

        <p class="texto-de-ingredientes">Ingredientes: filetes de pavo, brócoli, zanahoria, cebolla, aceite de oliva y especias.</p>
        <br>
        <h3 class="texto-preparacion">Preparación:</h3>
        
        <blockquote class="texto-de-preparacion">
            Cocina los filetes de pavo a la plancha con especias al
            gusto hasta que estén dorados.<br><br> Corta las verduras y saltéalas
            en una sartén con aceite de oliva hasta que queden tiernas.<br><br>
            Sirve el pavo acompañado de las verduras calientes.
        </blockquote>
    </div>

</body>
</html>