<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="CSS/style-index.css">
    <title>Comidas Semana</title>
</head>
<body>

    <h1 class="titulo">Bienvenido a Comidas Semana</h1>
    <p class="parrafo">Aquí vas a encontrar las comidas saludables con su receta.</p>

    <div class="alineacion-botones">
        <a href="HTML_DESAYUNO/INDEX_DESAYUNO.html" class="Botones-opciones">Desayuno</a>
        <a href="HTML_COMIDA/INDEX_COMIDA.html" class="Botones-opciones">Comida</a>
        <a href="HTML_CENAS/INDEX_CENA.html" class="Botones-opciones">Cenas</a>
    </div>

    <p class="parrafo1">
        En los botones de arriba vas a encontrar Comidas para la Semana.<br><br>
        Los vas acontrar con sus ingredientes necesarios.
    </p>

</body>
</html>