<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Template/CSS_COMIDA/STYLE-SEMANA.css">  
    <title>Receta Lunes</title>
</head>
<body>
    <a href="INDEX_DESAYUNO.html" class="Boton-inicio">Inicio</a>

    <div class="color-texto">
        
        <div class="aleneacion">
            <img src="/Template/IMG2/Tortilla-espinaca.jpeg" class="imagen-comida">
            <h3 class="texto-card">Miercoles: Tortilla de espinacas</h3>
        </div>

        <p class="texto-de-ingredientes">Ingredientes: huevos, espinacas, cebolla, queso fresco, aceite de oliva y sal.</p>
        <br>
        <h3 class="texto-preparacion">Preparación:</h3>
        
        <blockquote class="texto-de-preparacion">
            Sofríe la cebolla en una sartén con un poco de aceite y añade las 
            espinacas hasta que reduzcan su tamaño.<br><br> Bate los huevos con sal y
            agrégalos a la sartén junto con el queso fresco.<br><br> Cocina la tortilla
            a fuego medio hasta que quede bien hecha por ambos lados.
        </blockquote>
    </div>

</body>
</html>