<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Template/CSS_COMIDA/STYLE-SEMANA.css">  
    <title>Receta Lunes</title>
</head>
<body>
    <a href="INDEX_DESAYUNO.html" class="Boton-inicio">Inicio</a>

    <div class="color-texto">
        
        <div class="aleneacion">
            <img src="/Template/IMG2/Pancakes-avena-platano.jpeg" class="imagen-comida">
            <h3 class="texto-card">Viernes: Pancakes de avena y plátano</h3>
        </div>

        <p class="texto-de-ingredientes">Ingredientes: avena, plátano, huevos, canela, miel y frutas rojas.</p>
        <br>
        <h3 class="texto-preparacion">Preparación:</h3>
        
        <blockquote class="texto-de-preparacion">
            Tritura la avena, el plátano y los huevos hasta obtener
            una masa uniforme y añade una pizca de canela.<br><br> Cocina
            pequeñas porciones en una sartén hasta que los pancakes
            estén dorados por ambos lados.<br><br> Sirve con frutas rojas y
            un poco de miel por encima.
        </blockquote>
    </div>

</body>
</html>