<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Template/CSS_COMIDA/STYLE-SEMANA.css">
    <title>Receta Jueves</title>
</head>
<body>
    <a href="INDEX_COMIDA.html" class="Boton-inicio">Inicio</a>

    <div class="color-texto">

        <div class="aleneacion">
            <img src="/Template/IMG/photo.webp" class="imagen-comida">
            <h3 class="texto-card">Jueves: Garbanzos</h3>
        </div>

        <p class="texto-de-ingredientes">Ingredientes: Cebolla, Espinaca, Garbanzos, Pimentón Dulce o Picante(Si te gusta el picante).</p>
        <br>
        <h3 class="texto-preparacion">Preparación:</h3>
        
        <blockquote class="texto-de-preparacion">
            Primero vas a coger una olla grande donde le vas a poner un poco de 
            aceite de girasol.<br><br> Luego vas a picar una cebolla en cuadrados pequeños 
            y los vas poner en la olla con el aceite caliente. Le vas a poner un 
            poco de sal y pimienta.<br><br> Lo mueves hasta que se dore bien. Luego coges la 
            espinaca y lo pones en la olla junto con la cebolla. Lo mueves un poco de 
            hechas los garbanzos.<br><br> Ahora lo que vas hacer coger un baso con un poco de 
            agua ¡Ojo! No debe de cubrir los garbanzos por completo solo un poco. Una 
            vez puesto eso le pones el pimentón dulce o picante la gusto(No recomiendo 
            tampoco tanto) y lo mueves.<br><br> Y ya estaría, lo puedes acompañar con arroz, 
            comerlo solo..etc. En mi caso yo lo como con arroz y un huevo frito encima.
        </blockquote>

    </div>
</body>
</html>