<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Template/CSS_COMIDA/STYLE-SEMANA.css">  
    <title>Receta Lunes</title>
</head>
<body>
    <a href="INDEX_COMIDA.html" class="Boton-inicio">Inicio</a>

    <div class="color-texto">
        
        <div class="aleneacion">
            <img src="/Template/IMG/5e9964fc3da26.jpg" class="imagen-comida">
            <h3 class="texto-card">Lunes: Pollo con arroz y verduras(Tomate, espinaca..etc)</h3>
        </div>

        <p class="texto-de-ingredientes">Ingredientes: Arroz, Pechuga de pollo, Cualquier ensalada que guste más.</p>
        <br>
        <h3 class="texto-preparacion">Preparación:</h3>
        
        <blockquote class="texto-de-preparacion">
            Haces el arroz normal. Mientras se hace el arroz preparas el
            el la pechuga de pollo. Le pones por los dos lados: Pimienta, Sal, Comino(Opcional).
            <br>
            <br>
            Una vez marinado el la pechuga coges un plato y le pones aceite de oliva en el plato un
            chorro y pones la pechuga en el plato con aceite por los dos lados.
            <br>
            <br>
            Luego calientas la sartén. ¡Ojo! para saber si esta bien caliente ponen con la mano
            una gotas de agua y la hechas en la sartén, si las gotas se deslizan por la sartén 
            es que ya está suficientemente caliente.
            <br>
            <br>
            Ponemos el pollo a fuego bajo y lo cocinamos por los dos lados.
            Tienes que quedar dorado por los dos lados. En la ensalada puedes poner cualquier ensalada que para ti 
            sea saludable.
        </blockquote>
    </div>

</body>
</html>